@{
    ViewBag.Title = "XÁC NHẬN ĐƠN HÀNG";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}
<h2>Đặt hàng thành công. Chờ một chút, chúng tôi sẽ đem âm nhạc đến nhà bạn ngay (🌼❛ ֊ ❛„)</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "MusicStore")
</p>
